* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

.container {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.borded {
    border: 2px dashed black;
}

header {
    min-height: 50px;
    background-color: #255EE9;
}

.bg {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: top center;
}

.h-col {
    width: 20%;
    padding: 10px 10px;
}

.h-col img {
    max-height: 1.5rem;
}

.h-col:nth-of-type(2) {
    flex-grow: 1;
}

.list {
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.list a {
    color: white;
}

.h-col:last-of-type {
    text-align: right;
}

.btn {
    border-radius: 30px;
    padding: 1rem 1.5rem;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-small {
    padding: 0.7rem 1rem;
}


/* qui inizia il main */
.section {
    padding: 2rem 0rem;
}

.box {
    max-width: 80%;
    min-height: 300px;
    margin: 0 auto;
}

.first {
    max-width: 100%;
    min-height: 300px;
}

.slide:first-of-type {
    flex-grow: 1;
    background-color: var(--skyblue);
}

.slide:last-of-type {
    min-width: 40%;
}

.reverse {
    flex-direction: row-reverse;
}

.anbox {
    width: 100%;
    min-height: 500px;
    background-color: var(--green);
}

footer {
    background-color: var(--black);
}

.footbox {
    min-height: 500px;
}

.f-col {
    flex-grow: 1;
    background-color: var(--lightgreen);
}

.f-col:first-of-type {
    flex-grow: 2;
    background-color: var(--peach);
}

hr {
    margin: 20px 0px;
}

.last {
    min-height: 50px;
    background-color: var(--aqua);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butt {
    padding: 5px;
    background-color: var(--pink2);
}