* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: whitney;
}

@font-face {
    font-family: whitney;
    src: url(../font/whitneymedium.otf);
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1100px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3.2rem;
    padding-bottom: 1.5rem;
}

h5 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    
}

.section {
    padding: 2rem 0rem;
}

.btn {
    border-radius: 30px;
    padding: 1rem 2rem;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-purple {
    background-color: #8EA1E1;
    color: white;
}

.btn-small {
    padding: 0.7rem 1rem;
}

.grey {
    background-color: #F6F6F6;
}
/* fine regole di base e inzio header */

.borded {
    border: 2px dashed black;
}

header {
    min-height: 50px;
    background-color: #255EE9;
}

.bg {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: top center;
}

.h-col {
    width: 20%;
    padding: 10px 10px;
}

.h-col img {
    max-height: 1.5rem;
}

.h-col:nth-of-type(2) {
    flex-grow: 1;
}

.list {
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.list a {
    color: white;
}

.h-col:last-of-type {
    text-align: right;
}

/* qui inizia il main */

.box {
    max-width: 75%;
    min-height: 300px;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.box p {
    padding: 35px 20px;
}

.btn svg {
    display: inline-block;
    max-height: 1.5rem;
    padding-top: 10px;
    padding-right: 10px;
}

.first {
    max-width: 100%;
    min-height: 500px;
}

.slide:first-of-type {
    flex-grow: 1;
    justify-content: flex-start;
}

.frog {
    max-height: 26rem;
}

.slide:last-of-type {
    max-width: 21rem;
    padding-top: 2rem;
}

.padded-top {
    padding-top: 4rem;
}

.padded-bottom {
    padding-bottom: 4rem;
}

svg {
    display: block;
}

.turned {
    transform: rotate(180deg);
}

.reverse {
    flex-direction: row-reverse;
}

.end {
    justify-content: flex-end;
}

.anbox {
    min-width: 100%;
}

.anbox .text {
    text-align: center;
    padding: 3rem 4rem 0rem 4rem;
}

.anbox img {
    min-width: 100%;
}

.stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: 80% 15%;
    width: 50%;
    margin: 0 auto;
    padding: 3rem 0rem;
}

.white-arrow {
    fill: white;
}

footer {
    background-color: #23272A;;
}

.footbox {
    min-height: 500px;
}

.f-col {
    flex-grow: 1;
    background-color: var(--lightgreen);
}

.f-col:first-of-type {
    flex-grow: 2;
    background-color: var(--peach);
}

hr {
    margin: 20px 0px;
}

.last {
    min-height: 50px;
    background-color: var(--aqua);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butt {
    padding: 5px;
    background-color: var(--pink2);
}

